body{
    background-size: cover;
    background-position: center;
}
 
.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
}

.anchor{
    font-size: 18px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    height: 35px;
    width: 200px;
}
a{
    font-size: 24px;
    color: black;
}

#back{
    height: 30px;
    width: 75px;
    font-size: 18px;
    background-color: lightblue;
    margin-right: 2000px;   
    border-radius: 20px;
}